services:
  cla-end-to-end:
    volumes:
      - .:/behave_local2
    stdin_open: true # docker run -i
    tty: true        # docker run -t
  clafrontend:
    build: https://github.com/ministryofjustice/cla_frontend.git#main
  clabackend:
    build: https://github.com/ministryofjustice/cla_backend.git#main
  clasocketserver:
    build: https://github.com/ministryofjustice/cla_frontend.git#main:cla_socketserver
