services:
  cla-end-to-end:
    volumes:
      - .:/behave_local2
    stdin_open: true # docker run -i
    tty: true        # docker run -t
  clafrontend:
    build: https://github.com/ministryofjustice/cla_frontend.git#fix/LGA-3820-cla-ithc-session-cookie-mitigation
  clabackend:
    build: https://github.com/ministryofjustice/cla_backend.git#master
  clasocketserver:
    build: https://github.com/ministryofjustice/cla_frontend.git#fix/LGA-3820-cla-ithc-session-cookie-mitigation:cla_socketserver
