behave==1.2.6
parse==1.19.0
parse-type==0.5.2
selenium==3.141.0
six==1.16.0
urllib3==1.26.20
requests==2.26.0
pre-commit==2.17.0
axe-selenium-python==2.1.6
#need to use cla_common to check the availability of slots for the creation of callbacks
git+https://github.com/ministryofjustice/cla_common.git@0.3.18#egg=cla_common
# Required for the database diffing
psycopg2==2.9.5
tabulate==0.8.10
